@import "variables";

.mod {
  padding: 0.65em;
  margin: 0.2em;
  display: flex;
}

.mod.highlighted-mod {
  background-image: $ui-highlight-gradient;
  border-radius: 5px;
}

.mod > div:not(.image) {
  flex-grow: 1;
}

.mod .image {
  padding: 0 1em 0 0;
}
