.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  pointer-events: none;
}

.onboarding-wizard {
  height: calc(100vh - 63px);
  margin-top: 63px;
  pointer-events: all;
}

.wizard-step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wizard-step-content {
  padding: 0 1.5em;
  flex-grow: 1;
}

.wizard-step-controls {
  padding: 1.5em;
  text-align: right;
}

.text-center {
  text-align: center;
}

.full-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.regular-font {
  font-size: 0.95em;
}

// center on the whole window, not just the cover div
.full-center > div {
  transform: translateY(-68px);
}

.download-steps {
  display: flex;
}

.download-steps > div {
  flex-basis: 0;
  flex-grow: 1;
  //text-align: center;
}
